.heading{
    background-color: blanchedalmond;
    width: 900px;
    border-radius: 10px;
    border: 2px solid rgb(209, 173, 119);
    padding: 10px;
    display: flex;
}
.img{
    width: 200px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    height: 200px;
}
.img1{
    height: 113px;
    width: 200px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}
p{
    text-align: center;
    color: rgb(20, 59, 46);
}
.text{
    background-color: blanchedalmond;
    width: 900px;
    border-radius: 10px;
    border: 2px solid rgb(209, 173, 119);
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.name{
    background-color: blanchedalmond;
    width: 900px;
    border-radius: 10px;
    border: 2px solid rgb(209, 173, 119);
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}
.heading3{
    background-color: blanchedalmond;
    border-radius: 10px;
    border: 2px solid rgb(209, 173, 119);
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    text-align: center;
    width: 900px;
}
.heading4{
    background-color: blanchedalmond;
    border-radius: 10px;
    border: 2px solid rgb(209, 173, 119);
    padding: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 900px;
}
